<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Plant</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">Purchase Order</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2"><b>Plant Name</b></div>
                <div class="col-sm-8" th:text="${plant.name}"></div>
            </div>
            
            <div class="row">
                <div class="col-sm-2"><b>Description</b></div>
                <div class="col-sm-8" th:text="${plant.description}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><b>Price</b></div>
                <div id="total-cost" class="col-sm-8" th:text="${plant.price}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><b>Plant Status</b></div>
                <div id="total-cost" class="col-sm-8" th:text="${plant.status}"></div>
            </div>
            
            <div class="row">
            
                  <!--  form style='float:left; padding:5px; height:0px' th:object="${plant}"  th:method="post" th:action="@{'/dashboard/DeliverPlant/'+{_id}(_id=${plant._id})+'/'+{po_id}(po_id=${plant.poID})}">
                        <button class="btn btn-default btn-xs" type="submit">Verify Plant Delivery</button>
                   </form-->
                   
                   <form style='float:left; padding:5px; height:0px' th:object="${plant}"  th:method="put" th:action="@{/dashboard/deliverplant}">
                    	 <input type="hidden" th:field="${plant._id}"/>
                    	 <input type="hidden" th:field="${plant.poID}"/>
                    	<button class="btn btn-default btn-xs" type="submit">Verify Plant Delivery</button>
                   </form>
                   
                   
                   
                   
            </div>
            <div class="row">
                               
                   <form style='float:left; padding:5px; height:0px' th:object="${plant}" th:method="delete" th:action="@{/dashboard/reject}">
                    	 <input type="hidden" th:field="${plant._id}"/>
                    	 <input type="hidden" th:field="${plant.poID}"/>
                    	<button class="btn btn-default btn-xs" type="submit">Reject Purchase Order</button>
                   </form>
            </div>
            
        </div>
    </div>
   
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>